body {
  max-width: 750px;
  max-height: 600px;
  min-height: 582px;
  min-width: 780px;
  padding: 15px;
}

.container {
  outline: solid;
  padding: 0 auto;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.search {
  padding-top: 15px;
  float: right;
}
#search-form {
  float: right;
}

.cityInfo {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
}

.cityHeading {
  font-size: 50px;
  font-weight: bold;
  margin-left: 30px;
}
.date {
  margin-left: 30px;
}
ul {
  list-style-type: none;
}

li:first-letter {
  text-transform: capitalize;
}

.date #currentImage {
  margin: auto;
}

#currentTemp {
  margin: auto;
}

.bigTemp {
  font-size: 40px;
  font-weight: bold;
}

.bigWeather {
  margin: auto;
  padding-top: 40px;
}

.units {
  font-size: 20px;
}
.showTemp .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.showTemp .active:hover {
  text-decoration: none;
}
.forecast {
  display: block;
  margin: auto;
  padding-bottom: 15px;
  color: black;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
